body {
	height: 100%;
	overflow: auto;
	background: url(../pictures/vinyl2.jpg);
	background-size: 120%;
	overflow: auto;
	text-align: center;
	font-family: Arial;
	color: #F0EAD6;
	font-size: 20px;
}

section {
	margin-top: 100px;
	text-align: center;
	width: 60%;
	height: 500px;
	display: block;
	margin-right: auto;
	margin-left: auto; 
	/*not supporting IE6 >:)*/
	background-color: red;
	border-radius: 4px;

}