body {
	height: 100%;
	overflow: auto;
	background-image: url(background.jpg);
	background-size: 120%;
	overflow: auto;
	text-align: center;
	font-family: Arial;
	color: #F0EAD6;
	font-size: 20px;
}

main {
	display: block;
}

.middle {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	/* this vertically centers it >:D*/
}


section {
	position: relative;
	z-index: 3;
	text-align: center;
	width: 60%;
	height: 500px;
	display: block;
	margin-right: auto;
	margin-left: auto;
	/*not supporting IE6 >:)*/
	background-color: #540023;
	border-radius: 22px;
}

footer {
	font-size: 12px;
	position: relative;
	z-index: 1;
	text-align: left;
	width: 60%;
	height: 70px;
	display: block;
	margin-right: auto;
	margin-left: auto;
	display: block;
	background-color: #990033;
	border-radius: 22px;
	margin-top: -35px;
}

footer div {
	margin-top: 25px;
	margin-left: 18px;
}