<!DOCTYPE html>

<html lang='en'>

<head>
	<title>Scrobble Ninja</title>
	<meta name='keywords' content='Music, scrobble, last.fm, data, album, tracking, records'>
	<meta name="description" content="A simple, useful, no-limit scrobbling program for last.fm">
	<meta charset="UTF-8">
	<meta name='author' content='Jimi Vyas'>

	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>

</head>
<body>
	<header>
		<img src='images/logo.png'>
	</header>

	<main>
		<%= yield %>
	</main>

	<footer>
		<div>
			Scrobble Ninja is a replacement for the tool Universal Scrobbler. Created by <a href="http://www.github.com/jimivyas" target="_blank" title="My github :)" hreflang="en">James Vyas</a>, 2015
		</div>
	</footer>

</body>
</html>
